<div class="card-body">

    {{#if contact}}
        {{#each contact as |cont|}}
            <h5 class="card-title">Name: {{ cont.firstName }} {{ cont.lastName }}</h5>
            <p>Number: {{cont.number}}</p>
            <p>Relation: {{cont.relation}}</p>

    {{!-- BUTTON: Add contact info --}}
    <div class="mt-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#editContactModal" class="btn btn-secondary">
            Edit Contact Info
        </button>
    </div>

            <!-- Edit Contact Modal -->
            <div class="modal fade" id="editContactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEvent" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabelEvent">Edit Contact Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div ="container-fluid">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5">First Name</span>
                                    <input type="text" aria-label="First name" class="form-control" value="{{ cont.firstName }}" id="editFirstName">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5">Last Name</span>
                                    <input type="text" aria-label="Last name" class="form-control" value="{{ cont.lastName }}" id="editLastName">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5">Number</span>
                                    <input type="text" aria-label="Number" class="form-control" value="{{ cont.number }}" id="editNumber">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Relation</span>
                                    <input type="text" aria-label="Relation" class="form-control" value="{{ cont.relation }}" id="editRelation">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="hidden" aria-label="First name" class="form-control" value="{{ cont.id }}" id="editContactId">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="editContactBtn" data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>



   {{/each}}
    {{!-- <div class="mt-3">
        <button class="btn btn-warning align-items-end mt-2">Add Contact Info</button>
    </div> --}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#contactModal" class="btn btn-dark">
        Edit Medical Info
    </button>
        {{!-- {{/each}} --}}
    
    {{else}}
        <h5 class="card-title">Name:</h5>
        <p class="card-text py-3"></p>
        <h5 class="card-title">Number:</h5>
        <p class="card-text py-3"></p>
        <h5 class="card-title">Relation:</h5>
        <p class="card-text py-3"></p>

        {{!-- BUTTON: Add contact info --}}
        <div class="mt-3">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addContactModal" class="btn btn-secondary">
                Add Contact Info
            </button>
        </div>
    {{/if}}
</div>

<!-- Add Contact Modal -->
<div class="modal fade" id="addContactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEvent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEvent">Add Contact Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div ="container-fluid">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">First Name</span>
                        <input type="text" aria-label="First name" class="form-control" value="{{ cont.firstName }}" id="firstName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Last Name</span>
                        <input type="text" aria-label="Last name" class="form-control" value="{{ cont.lastName }}" id="lastName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Number</span>
                        <input type="text" aria-label="First name" class="form-control" value="{{ cont.number }}" id="number">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Relation</span>
                        <input type="text" aria-label="First name" class="form-control" value="{{ cont.relation }}" id="relation">
                    </div>
                    <div class="input-group mb-3">
                        <input type="hidden" aria-label="First name" class="form-control" value="{{ cont.id }}" id="contactIdModal">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addContactBtn" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>