{{!-- <ul>
    {{#each children as |child|}}
    {{ child.firstName }}
    {{#if medications}}
    <li>Medications:
        <p>{{ medical.healthInsurance }}</p>
        <p>{{ medical.medications }}</p>
        <p>{{ medical.allergies }}</p>
    </li>
    {{/if}}
    {{/each}}
</ul>


    <div class="card-body">
        <h5 class="card-title"></h5>
            {{#if medications}}
                <li>Medications:
                    <p>{{ medical.healthInsurance }}</p>
                    <p>{{ medical.medications }}</p>
                    <p>{{ medical.allergies }}</p>
                </li>
            {{/if}}
        <p class="card-text">{{ medical.healthInsurance }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> --}}