<div class="card-body">
    {{#each contactInfo as |contact|}}
    {{!-- {{#if medications}}
    <h5 class="card-title">Medications:</h5>
    <li>
        <p>{{ medical.medications }}</p>
        <p class="card-text">Example text</p>
    </li>
    {{/if}} --}}

    <h5 class="card-title">Name: {{ contact.firstName }} {{ contact.lastName }}</h5>
    {{!-- {{/if}} --}}
    <li>
        <p>Number: {{contact.number}}</p>
        <p>Relation: {{contact.relation}}</p>
    </li>
    {{!-- <h5 class="card-title">Number: {{ contact.number }}</h5>
    <h5 class="card-title">Relation: {{ contact.relation }}</h5> --}}

    <table class="table" id="contactTable">
        <tr>
            <td>Name</td>
            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        </tr>
        <tr>
            <td>Number</td>
            <td>{{contact.number}}</td>
        </tr>
        <tr>
            <td>Relation</td>
            <td>{{contact.relation}}</td>
        </tr>
    </table>
    {{/each}}
    <div class="mt-3">
        <button class="btn btn-warning align-items-end mt-2">Add Contact Info</button>
    </div>
</div>