<h1>Medical Info</h1>
<h2>{{ childId.firstName }} {{ childId.lastName }}</h2>

<table class="table" id="medicalTable">
    <tr>
        <td>Medications</td>
        <td>{{ medical.medications }}</td>
    </tr>
    <tr>
        <td>Allergies</td>
        <td>{{ medical.allergies }}</td>
    </tr>
    <tr>
        <td>Health Insurance</td>
        <td>{{ medical.healthInsurance }}</td>
    </tr>
</table>
<button type="button" data-bs-toggle="modal" data-bs-target="#editProfile" id="profileBtn">
    Edit
</button>