<h2>Medical Info</h2>

<table class="table" id="medicalTable">
    <tr>
        {{!-- delete these two rows --}}
        <th>Ex: Medications</th>
        <td>Example meds</td>
        {{!-- keep these --}}
        {{#each allMedications as |medication|}}
        <th>Medications</th>
        <td>{{ medical.medications }}</td>
        {{/each}}
    </tr>
    <tr>
        {{!-- delete these two rows --}}
        <th>Ex: Allergies</th>
        <td>Example allergies</td>
        {{!-- keep these --}}
        {{#each allAllergies as |allergies|}}
        <th>Allergies</th>
        {{#if allergies}}
        <td>{{ medical.allergies }}</td>
        {{/if}}
        {{/each}}
        <td><button type="button" data-bs-toggle="modal" data-bs-target="#editProfile" id="profileBtn">
                Update allergies
            </button></td>

    </tr>
    <tr>
        {{!-- delete these two rows --}}
        <th>Ex: Health Insurance</th>
        <td>Example Health Insurance</td>
        {{!-- keep these --}}
        {{#each allHealthInsurance as |healthInsurance|}}
        <th>Health Insurance</th>
        {{#if healthInsurance}}
        <td>{{ medical.healthInsurance }}</td>
        {{/if}}
        {{/each}}
        <td><button type="button" data-bs-toggle="modal" data-bs-target="#editProfile" id="profileBtn">
                Update health insurance
            </button></td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="editProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Medical Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div="container-fluid">
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" value="{{ medical }}" id="newId">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Medications</span>
                        <input type="text" aria-label="medicationField" class="form-control" value="{{ medical.medications }}"
                            id="newMedicationField">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Allergies</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" value="{{ medical.allergies }}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Health Insurance</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" value="{{ medical.healthInsurance }}" id="newHealthInsurance">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary profileBtn" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>