<div class="card-body">

    {{#if medical}}
        {{#each medical as |med|}}
            <h5 class="card-title">Medications:</h5>
            <p class="card-text py-3">{{ med.medications }}</p>
            <h5 class="card-title">Allergies:</h5>
            <p class="card-text py-3">{{ med.allergies }}</p>
            <h5 class="card-title">Health Insurance:</h5>
            <p class="card-text py-3">{{ med.healthInsurance }}</p>

            {{!-- BUTTON: Add medical info --}}
            <div class="mt-3">
                <button type="button" data-bs-toggle="modal" data-bs-target="#editMedicalModal" class="btn btn-secondary">
                    Edit Medical Info
                </button>
            </div>

            <!-- Edit Medical Modal -->
            <div class="modal fade" id="editMedicalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEvent" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabelEvent">Edit Medical Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div ="container-fluid">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5">Medications</span>
                                    <input type="text" aria-label="First name" class="form-control" value="{{ med.medications }}" id="editMedications">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5">Allergies</span>
                                    <input type="text" aria-label="First name" class="form-control" value="{{ med.allergies }}" id="editAllergies">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Health Insurance</span>
                                    <input type="text" aria-label="First name" class="form-control" value="{{ med.healthInsurance }}" id="editHealthInsurance">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="hidden" aria-label="First name" class="form-control" value="{{ med.id }}" id="editMedId">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="editMedicalBtn" data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}

    {{else}}
        <h5 class="card-title">Medications:</h5>
        <p class="card-text py-3"></p>
        <h5 class="card-title">Allergies:</h5>
        <p class="card-text py-3"></p>
        <h5 class="card-title">Health Insurance:</h5>
        <p class="card-text py-3"></p>

        {{!-- BUTTON: Add medical info --}}
        <div class="mt-3">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addMedicalModal" class="btn btn-secondary">
                Add Medical Info
            </button>
        </div>
    {{/if}}
</div>

<!-- Add Medical Modal -->
<div class="modal fade" id="addMedicalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEvent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEvent">Add Medical Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div ="container-fluid">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Medications</span>
                        <input type="text" aria-label="First name" class="form-control" value="{{ medical.medications }}" id="medications">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Allergies</span>
                        <input type="text" aria-label="First name" class="form-control" value="{{ medical.allergies }}" id="allergies">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Health Insurance</span>
                        <input type="text" aria-label="First name" class="form-control" value="{{ medical.healthInsurance }}" id="healthInsurance">
                    </div>
                    <div class="input-group mb-3">
                        <input type="hidden" aria-label="First name" class="form-control" value="{{ medical.id }}" id="medIdModal">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addMedicalBtn" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>



{{!-- <table class="table" id="medicalTable">
    <tr>
        {{!-- delete these two rows --}}
        <th>Ex: Medications</th>
        <td>Example meds</td>
        {{!-- keep these --}}
        {{#each allMedications as |medication|}}
        <th>Medications</th>
        <td>{{ medical.medications }}</td>
        {{/each}}
    </tr>
    <tr>
        {{!-- delete these two rows --}}
        <th>Ex: Allergies</th>
        <td>Example allergies</td>
        {{!-- keep these --}}
        {{#each allAllergies as |allergies|}}
        <th>Allergies</th>
        {{#if allergies}}
        <td>{{ medical.allergies }}</td>
        {{/if}}
        {{/each}}
        <td><button type="button" data-bs-toggle="modal" data-bs-target="#editProfile" id="profileBtn">
                Update allergies
            </button></td>

    </tr>
    <tr>
        {{!-- delete these two rows --}}
        <th>Ex: Health Insurance</th>
        <td>Example Health Insurance</td>
        {{!-- keep these --}}
        {{#each allHealthInsurance as |healthInsurance|}}
        <th>Health Insurance</th>
        {{#if healthInsurance}}
        <td>{{ medical.healthInsurance }}</td>
        {{/if}}
        {{/each}}
        <td><button type="button" data-bs-toggle="modal" data-bs-target="#editProfile" id="profileBtn">
                Update health insurance
            </button></td>
    </tr>
</table> --}}