{{> navbar}}
<div id='calendar'></div>

<table>
    <tbody style="display:none background-color:white">
        {{#each userEvents as |event| }}
            <tr class="familyEvents">
                <td>{{ event.title}}</td>
                <td>{{ event.notes}}</td>
                <td>{{ event.start}}</td>
                <td>{{ event.end}}</td>
                <td>{{ event.startTime}}</td>
                <td>{{ event.endTime}}</td>
                <td>{{ event.location}}</td>
                <td>{{ event.eventType}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>