{{> navbar}}

<h3>The {{ user.familyName }} FamYOUly</h3>


<div class="container">
    <div class="row">
        <div class="col-6">
            {{#eq user.level 1}}
            <div class="homepageButtons">
                <div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#eventmodal" class="btn btn-dark" id="eventAdd">
                        Add an Event
                    </button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#todomodal" class="btn btn-dark" id="todoAdd">
                        Add a To Do
                    </button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addChild" class="btn btn-dark" id="childAdd">
                        Add Child
                    </button>
                </div>
            </div>
            {{/eq}} 
{{!-- Upcoming Events --}}
            {{#eq user.level 1}}
            <div class="card"id="eventsCard">

                <table class="table">
                    <tr class="table" id="upEvents" >
                        <h7>Upcoming Events</h7>
                    </tr>
                    {{#each userEvents as |event|}}
                        <tr>
                            {{#if location}}
                                {{#if allDay}}
                                    <td>{{ event.start }} (All Day) - {{ event.title }} @ {{ event.location }} </td>
                                {{else}}
                                    <td>{{ event.start }} at {{ event.startTime }} - {{ event.title }} @ {{ event.location }} </td>
                                {{/if}}
                            {{else}}
                                {{#if allDay}}
                                    <td>{{ event.start }} (All Day) - {{ event.title }}</td>
                                {{else}}
                                    <td>{{ event.start }} at {{ event.startTime }} - {{ event.title }}</td>
                                {{/if}}
                            {{/if}}
                            <td>
                                <div data-bs-toggle="modal" data-bs-target="#t{{ event.modalId }}">
                                    More..
                                </div>
                                <div class="modal fade" id="t{{ event.modalId }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Event Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div ="container-fluid">
                                                    <div class="input-group mb-3">
                                                        <input type="hidden" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.id }}" id="newId">
                                                    </div>   
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Title</span>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.title }}" id="newTitle">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Notes</span>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.notes }}" id="newNote">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Location</span>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.location }}" id="newLocation">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Start Date</span>
                                                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.start }}" id="newStartDate">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">End Date</span>
                                                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.end }}" id="newEndDate">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Start Time</span>
                                                        <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.startTime }}" id="newStartTime">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">End Time</span>
                                                        <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.endTime }}" id="newEndTime">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <label class="input-group-text col-5" for="inputGroupSelect01">Event Type</label>
                                                        <select eventdata="{{ event.id }}" class="form-select" id="newEventType" list ="event-list">
                                                            <option>{{ event.eventType }}</option>
                                                            <option value="Required">Required</option>
                                                            <option value="Optional">Optional</option>
                                                            <option value="Request">Request</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark updateEventBtn" data-bs-dismiss="modal" eventdata="{{ event.id }}">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>

            {{else}}
            <div class="card"id="eventsCard">
                <table class="table">
                    <tr class="table" >
                        <h7>Upcoming Events</h7>
                    </tr>
                    {{#each userEvents as |event|}}
                        <tr>
                            {{#if location}}
                                {{#if allDay}}
                                    <td>{{ event.start }} (All Day) - {{ event.title }} @ {{ event.location }} </td>
                                {{else}}
                                    <td>{{ event.start }} at {{ event.startTime }} - {{ event.title }} @ {{ event.location }} </td>
                                {{/if}}
                            {{else}}
                                {{#if allDay}}
                                    <td>{{ event.start }} (All Day) - {{ event.title }}</td>
                                {{else}}
                                    <td>{{ event.start }} at {{ event.startTime }} - {{ event.title }}</td>
                                {{/if}}
                            {{/if}}
                            <td>
                                <div data-bs-toggle="modal" data-bs-target="#t{{ event.modalId }}">
                                    More..
                                </div>
                                <div class="modal fade" id="t{{ event.modalId }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Event Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div ="container-fluid">
                                                    <div class="input-group mb-3">
                                                        <input type="hidden" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.id }}">
                                                    </div>   
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Title</span>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.title }}" readonly>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Notes</span>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" eventdata="{{ event.id }}" value="{{ event.notes }}">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Location</span>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.location }}" readonly>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Start Date</span>
                                                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.start }}" readonly>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">End Date</span>
                                                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.end }}" readonly>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">Start Time</span>
                                                        <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.startTime }}" readonly>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text col-5" id="inputGroup-sizing-default">End Time</span>
                                                        <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.endTime }}" readonly>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <label class="input-group-text col-5" for="inputGroupSelect01">Event Type</label>
                                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ event.eventType }}" readonly>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark updateEventBtn" data-bs-dismiss="modal">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            {{/eq}}


    {{!-- todos --}}
        <div class="card col-12" id="todoCol">
            <div class="card-header">
                <h7>To Do's</h7>
            </div>
            {{#if anyTodos}}
                <ul class="list-group list-group-flush">
                    {{#each userTodos as |todo| }}
                        {{#unless todo.completed }}
                            <li class="list-group-item"> 
                                <input type="hidden" class="form-control"  value="{{ todo.id }}">
                                <input class="form-check-input todoBox" type="checkbox" value="{{ todo.task }}" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{ todo.task }} 
                                </label>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            {{else}}
                <li class="list-group-item"> 
                    <label class="form-check-label" for="flexCheckDefault">
                        No Current Tasks
                    </label>
                </li>
            {{/if}}
            <a href="/todo" id="history">History</a>    
        </div>
    
        </div>
        <div class="col-6">
                    {{#eq user.level 1}}
                    <div class="container">
                        <div class="row"id="kidsCard">
                            {{#each allKids as |kid|}}
                                <div class="col-6 py-1 px-1">
                                    <div class="card" >
                                        {{#if kid.picture}}
                                          <img src="{{ kid.picture }}" class="card-img-top kidPic"  alt="..."> 
                                        {{else}}
                                          <img src="/images/Placeholder_Image.jpg" class="card-img-top kidPic" alt="...">
                                        {{/if}}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ kid.firstName }} {{ kid.lastName }} 
                                                <svg data-bs-toggle="modal" data-bs-target="#t{{ kid.modalId }}"
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill mx-4" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            <div class="modal fade" id="t{{ kid.modalId }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Event Details</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div ="container-fluid">
                                                                <div class="input-group mb-3">
                                                                    <input type="hidden" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" kiddata="{{ kid.id }}" value="{{ kid.id }}" id="newId">
                                                                </div>   
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text col-5" id="inputGroup-sizing-default">First/Last Name</span>
                                                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" kiddata="{{ kid.id }}" value="{{ kid.firstName }}" id="newFirst">
                                                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" kiddata="{{ kid.id }}" value="{{ kid.lastName }}" id="newLast">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Nickname</span>
                                                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" kiddata="{{ kid.id }}" value="{{ kid.nickname }}" id="newNickName">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                <div class="input-group mb-3">
                                                                    <label class="input-group-text col-5" for="inputGroupSelect01">Pronouns</label>
                                                                    <select kiddata="{{ kid.id }}" class="form-select" id="newPronouns" list ="level-list">
                                                                        <option>{{ kid.pronouns }}</option>
                                                                        <option value="He/Him">He/Him</option>
                                                                        <option value="She/Her">She/Her</option>
                                                                        <option value="They/Them">They/Them</option>
                                                                    </select>
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Birthday</span>
                                                                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" kiddata="{{ kid.id }}" value="{{ kid.birthday }}" id="newBirthday">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-dark updateKidBtn" data-bs-dismiss="modal" kiddata="{{ kid.id }}">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Nick name: {{ kid.nickname }}</li>
                                            <li class="list-group-item">Pronouns: {{ kid.pronouns }}</li>
                                            <li class="list-group-item bdate">{{ kid.birthday }}</li>
                                            <li class="list-group-item text-end" id="infoMore"><a href="/api/info/{{ kid.id }}">More Info</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    {{else}}
                    <div class="container">
                        <div class="row">
                            {{#each allKids as |kid|}}
                                <div class="col-6 px-1">
                                    <div class="card" id="kidsCard">
                                        {{#if kid.picture}}
                                          <img src="{{ kid.picture }}" class="card-img-top kidPic"  alt="..."> 
                                        {{else}}
                                          <img src="/images/Placeholder_Image.jpg" class="card-img-top kidPic" alt="...">
                                        {{/if}}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ kid.firstName }} {{ kid.lastName }}</h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Nick name: {{ kid.nickname }}</li>
                                            <li class="list-group-item">Pronouns: {{ kid.pronouns }}</li>
                                            <li class="list-group-item bdate">{{ kid.birthday }}</li>
                                            <li class="list-group-item text-end" id="infoMore"><a href="/api/info/{{ kid.id }}">More Info</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/eq}}

        </div>
    </div>
</div>

    <!--Add A Child Modal -->
<div class="modal fade" id="addChild" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Child Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">First and Last name</span>
                        <input type="text" aria-label="First name" class="form-control"id="kidFirstName">
                        <input type="text" aria-label="Last name" class="form-control" id="kidLastName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Nickname</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="kidNickname">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5" list="pronoun-list" id="kidPronouns">Pronouns</span>
                        <select class="form-select" id="pronoun-list" aria-label="Default select example">
                            <option selected></option>
                            <option value="He/Him">He/Him</option>
                            <option value="She/Her">She/Her</option>
                            <option value="They/Them">They/Them</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Birthday</span>
                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="kidBirthday">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-5">Family Name</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ user.familyName }}" id="kidFamilyName"readonly>
                    </div>
                </div>                      
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-dark" id="saveChild">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Add a ToDo Modal -->
<div class="modal fade" id="todomodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelTodo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelTodo">Add To Do</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div ="container-fluid">
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="" id="newTodo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="addTodoBtn" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

    <!-- Add an Event Modal -->
<div class="modal fade" id="eventmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEvent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEvent">Add A New Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div ="container-fluid">
                <div class="input-group mb-3">
                    <span class="input-group-text col-5">Event Name</span>
                    <input type="text" aria-label="First name" class="form-control" id="eventName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5">Notes</span>
                    <input type="text" aria-label="First name" class="form-control" id="eventNotes">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Start Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="eventStartDate">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5" id="inputGroup-sizing-default">End Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="eventEndDate">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5 allDay" id="inputGroup-sizing-default">All Day Event</span>
                    <input class="form-check-input adbox mx-2 my-3" type="checkbox" id="eventAllDay" aria-label="Sizing example input">
                </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Start Time</span>
                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="eventStartTime">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5" id="inputGroup-sizing-default">End Time</span>
                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="eventEndTime">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-5" id="inputGroup-sizing-default">Location</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="eventLocation">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-5" for="inputGroupSelect01">Event Type</label>
                    <select class="form-select" id="eventType" list ="event-list">
                        <option id="eventType"></option>
                        <option value="Required">Required</option>
                        <option value="Optional">Optional</option>
                        <option value="Request">Request</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                  <input type="hidden" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ user.familyName }}" id="eventFamilyName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="eventBtn" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>