{{> navbar}}

<h1>To Do History</h1>

<table class="table" id="todoTable">
  <tr>
    <th>Task</th>
    <th>Created By</th>
    <th>Created On</th>
    <th>Status</th>
    <th>Completed By</th>
    <th>Completed On</th>
  </tr>
  {{#each userTodos as |todo| }}
    {{#if todo.completed}}
      <tr class="table-success">
        <td>{{ todo.task }}</td>
        <td>{{ user.firstName}} {{ user.lastName }}</td>
        <td>{{ todo.createdAt }}</td>
        <td>Completed</td>
        <td>{{ todo.completedUser }} {{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ todo.updatedAt }}</td>
      </tr>
    {{else}}
      <tr>
        <td>{{ todo.task }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ todo.createdAt }}</td>
        <td>Open</td>
        <td>-</td>
        <td>-</td>
      </tr>
    {{/if}}
  {{/each}}
</table>